<!doctype hml>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div id="app2" v-bind:title="msg">
    <span v-bind:title="msg">
      WHAT THE FUNK
    </span>

    <div v-if="seen">
      {{msg}}
    </div>

    <ul>
      <li v-for="item in items">
        {{ item }}
      </li>
    </ul>

    <div>
      {{ message }}
    </div>

    <div>
      {{ reversedMessage }}
    </div>

    <div>
      {{ reverseMe() }}
    </div>

    <button v-on:click="reverse" v-bind:disabled="isButtonDisabled">
      reverse the message
    </button>

    <div>
      {{ message }}
    </div>
    <input v-model="message">

    <div>{{ rawHtml }}</div>
    <div v-html="rawHtml"></div>

    <div>{{ myNumber + 1 }}</div>

    <div>{{ ok ? 'PAIGE + LEILA' : 'LEILA + PAIGE' }}</div>
    <div>{{ 'Paige'.split('').reverse().join('') }}</div>
  </div>

  <div id="app-6">
    <ol>
      <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id" v-bind:title="'list-' + item.id">
      </todo-item>
    </ol>
  </div>

  <div id="app-7">
    <div>{{ fullName }}</div>
    <div>{{ firstName }}</div>
    <div>{{ lastName }}</div>
  </div>

  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app2 = new Vue({
      el: '#app2',
      data: {
        msg: 'Hello Vue!',
        seen: true,
        items: [
          'Paige',
          'Leila',
          'Fansen'
        ],
        message: 'Paige',
        //isButtonDisabled: true,
        rawHtml: 'this is a <b>bold</b> text',
        myNumber: 419,
        ok: false,
        isButtonDisabled: true,
      },
      methods: {
        reverse() {
          this.message = this.message.split('').reverse().join('');
        },
        reverseMe() {
          return this.message.split('').reverse().join('');
        },
      },
      computed: {
        reversedMessage() {
          return this.message.split('').reverse().join('');
        },
      },
      created: function () {
        alert('what');
      },
    })

    //you can prevent data modification with Object.freeze()
    // data4 = {
    //   message: 'Paige',
    // }
    //Object.freeze(data4);

    app2.$watch('message', function (newValue, oldValue) {
      // alert('changed from ' + oldValue + ' to ' + newValue);
      alert(`changed from ${oldValue}`);
    })

    //defining a new vue component
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        groceryList: [{
            id: 0,
            text: 'Vegetables'
          },
          {
            id: 1,
            text: 'Cheese'
          },
          {
            id: 2,
            text: 'Whatever else humans are supposed to eat'
          }
        ]
      }
    })

    var app7 = new Vue({
      el: '#app-7',
      data: {
        firstName: 'Paige',
        lastName: 'Ayness',
      },
      computed: {
        fullName: {
          get: function () {
            return this.firstName + ' ' + this.lastName;
          },
          set: function (fullname) {
            names = fullname.split(' ');
            this.firstName = names[0];
            this.lastName = names[1];
          },
        },
      },
    })
  </script>
  <script>
    var watchExampleVM = new Vue({
      el: '#watch-example',
      data: {
        question: '',
        answer: 'I cannot give you an answer until you ask a question!'
      },
      watch: {
        // whenever question changes, this function will run
        question: function (newQuestion, oldQuestion) {
          this.answer = 'Waiting for you to stop typing...'
          this.debouncedGetAnswer()
        }
      },
      created: function () {
        // _.debounce is a function provided by lodash to limit how
        // often a particularly expensive operation can be run.
        // In this case, we want to limit how often we access
        // yesno.wtf/api, waiting until the user has completely
        // finished typing before making the ajax request. To learn
        // more about the _.debounce function (and its cousin
        // _.throttle), visit: https://lodash.com/docs#debounce
        this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
      },
      methods: {
        getAnswer: function () {
          if (this.question.indexOf('?') === -1) {
            this.answer = 'Questions usually contain a question mark. ;-)'
            return
          }
          this.answer = 'Thinking...'
          var vm = this
          axios.get('https://yesno.wtf/api')
            .then(function (response) {
              vm.answer = _.capitalize(response.data.answer)
            })
            .catch(function (error) {
              vm.answer = 'Error! Could not reach the API. ' + error
            })
        }
      }
    })
  </script>
</body>

</html>